.middle {
    display: table-cell;
    vertical-align: middle;
}

#custom-top {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 50px;
    background: #fff;
}

.page-header {
    margin-top: 50px;
}
